.nav {
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 1rem;
  }
  a {
    margin: 1rem;
    padding: 1rem;
    &hover {
      background-color: green;
    }
  }
}

.toggleNavbar {
  cursor: pointer;
  
}